<div class="header">
	<h1 class="header-title">Linux Box</h1>
	<div class="header-buttons">
		<button>About</button>
		<button>Contact</button>
	</div>
</div>
<iframe src="<%= Settings.docker_url %>/app/start"></iframe>
